.w3-highway-brown {color:#fff;background-color:#633517}
.w3-highway-red {color:#fff;background-color:#a6001a}
.w3-highway-orange {color:#fff;background-color:#e06000}
.w3-highway-schoolbus {color:#fff;background-color:#ee9600}
.w3-highway-yellow {color:#fff;background-color:#ffab00}
.w3-highway-green {color:#fff;background-color:#004d33}
.w3-highway-blue {color:#fff;background-color:#00477e}

.w3-text-highway-brown {color:#633517 !important}
.w3-text-highway-red {color:#a6001a !important}
.w3-text-highway-orange {color:#e06000 !important}
.w3-text-highway-schoolbus {color:#ee9600 !important}
.w3-text-highway-yellow {color:#ffab00 !important}
.w3-text-highway-green {color:#004d33 !important}
.w3-text-highway-blue {color:#00477e !important}

.w3-border-highway-brown {border-color:#633517 !important}
.w3-border-highway-red {border-color:#a6001a !important}
.w3-border-highway-orange {border-color:#e06000 !important}
.w3-border-highway-schoolbus {border-color:#ee9600 !important}
.w3-border-highway-yellow {border-color:#ffab00 !important}
.w3-border-highway-green {border-color:#004d33 !important}
.w3-border-highway-blue {border-color:#00477e !important}

.w3-hover-highway-brown:hover {color:#fff;background-color:#633517}
.w3-hover-highway-red:hover {color:#fff;background-color:#a6001a}
.w3-hover-highway-orange:hover {color:#fff;background-color:#e06000}
.w3-hover-highway-schoolbus:hover {color:#fff;background-color:#ee9600}
.w3-hover-highway-yellow:hover {color:#fff;background-color:#ffab00}
.w3-hover-highway-green:hover {color:#fff;background-color:#004d33}
.w3-hover-highway-blue:hover {color:#fff;background-color:#00477e}

.w3-hover-text-highway-brown:hover {color:#633517 !important}
.w3-hover-text-highway-red:hover {color:#a6001a !important}
.w3-hover-text-highway-orange:hover {color:#e06000 !important}
.w3-hover-text-highway-schoolbus:hover {color:#ee9600 !important}
.w3-hover-text-highway-yellow:hover {color:#ffab00 !important}
.w3-hover-text-highway-green:hover {color:#004d33 !important}
.w3-hover-text-highway-blue:hover {color:#00477e !important}

.w3-hover-border-highway-brown:hover {border-color:#633517 !important}
.w3-hover-border-highway-red:hover {border-color:#a6001a !important}
.w3-hover-border-highway-orange:hover {border-color:#e06000 !important}
.w3-hover-border-highway-schoolbus:hover {border-color:#ee9600 !important}
.w3-hover-border-highway-yellow:hover {border-color:#ffab00 !important}
.w3-hover-border-highway-green:hover {border-color:#004d33 !important}
.w3-hover-border-highway-blue:hover {border-color:#00477e !important}
